<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <div id="success">
            <h2> Registration Success!</h2>
        </div>
        
        <div id="box1"">
            <a href="/">Home</a>
        </div>

    </div>
    
    
</body>
</html>